
.notification {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  position: fixed;
  text-align:left;
  background-color: #393e5a;
  width: 100%;
  opacity: 0.8;
  top: 0;
  right:0;
  color: #ffffff;
}

.error {
  padding: 10px;
  position: fixed;
  text-align:left;
  background-color: #ffd3d8;
  width: 100%;
  opacity: 0.9;
  top: 0;
  right:0;
  color: #83313b;
}