@import './upload.css';
@import './event.css';

.title{
  text-align: center;
}

.button {
  display: table-cell;
  width: 100%;
}

table, thead, tr, td {
  max-width: 100%;
  border-collapse: collapse;

}

table{
  display: block;

}

tbody{
  display: block;
  overflow: auto;
  max-height: 500px;
}

.tablecontainer{
  border: 1px solid black;

}

.header{
  padding:20px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;

}

.link {
  display: inline-block;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.container2 {
  padding: 20px;
  margin-left: 10%;
  font-size: 16px;
  
}

.container3 {
  padding: 30px;
  font-size: 16px;
  background-color: rgba(0,0,0, 0.4);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.notes {
  padding: 20px;
  background-color: white;
  opacity: 0.9;
  display: block;
  overflow: auto;
  max-height: 650px;
}


.container {
  padding: 20px;
  background-color: white;
  opacity: 0.9;
}

.footer {
  padding: 10px;
  position: fixed;
  text-align:right;
  background-color: white;
  width: 100%;
  opacity: 0.9;
  bottom: 0;
  left:0;
}

.filter {
  background-color: white;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

body, html {
  height: 100%;
 
  font-family: "Arial";
 
  }
.bg {
  background-image: url('../pictures/ballon.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
  background-image: url('../pictures/ballon.jpg');
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


  

