@import './upload.css';


.title{
  text-align: center;
}

.button {
  display: table-cell;
  width: 100%;
}

table{
  border: 1px solid black;
  width: 100%;
  max-height: 800px;
  border-collapse: collapse;
  display: inline-block; 
  overflow: auto;
}

.header{
  padding:20px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;

}

.link {
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.container3 {
  padding: 25px;
  margin-right: 50%;
  margin-left: 10%;

}
.container {
  padding: 25px;
  background-color: white;
  opacity: 0.9;
}


.footer {
  padding: 10px;
  position: fixed;
  text-align:right;
  background-color: white;
  width: 100%;
  opacity: 0.9;
  bottom: 0;
  left:0;
}

.filter {
  background-color: white;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url('../pictures/paragliderbackground.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }